:root {
   --fialova:hsl( 263, 55%, 52%);
   --white: hsl(0, 0%, 100%);
   --modra: hsl(217, 19%, 35%);
   --tmavo-modra: hsl(217, 19%, 35%);
   --light-grey: hsl(0, 0%, 81%);
   --light-grayish-blue: hsl(210, 46%, 95%);
}

h1{
    color: var(--fialova);
}
    

article {
    padding: 15px;
    color: brown;
}

body {
    color: var(--light-grey);
}  

.box1 {
    padding: 20px;
    display: grid;
    text-align: center;
    background-color: var(--fialova);
}

.box2 {
    background-color:var(--light-grey) ;
}

.box3 {
    background-color: var(--white);
}

.box4 {
    background-color: var(--modra);
}

.box5 {
    background-color: var(--light-grayish-blue);
}
    
