@media screen (max-width 375px) {
    
}


:root {
   --fialova:hsl( 263, 55%, 52%);
   --white: hsl(0, 0%, 100%);
   --modra: hsl(217, 19%, 35%);
   --tmavo-modra: hsl(217, 19%, 35%);
   --light-grey: hsl(0, 0%, 81%);
   --light-grayish-blue: hsl(210, 46%, 95%);
}

article {
    padding: 35px;
    margin: 35px;
    border-radius: 10px;   
}

body {
    margin: 0;
    padding: 0;
       
}  

.box1 {
    background-color: var(--fialova);
    color: var(--light-grey);
    h2,h1 {
        color: var(--white);
    }

}

.box2 {
    background-color: var(--tmavo-modra);
    color: var(--modra);
    h1,h2 {
        color: var(--white);
    }
}

.box3 {
    background-color: var(--white);
    color: black;
              
}

.box4 {
    background-color: var(--modra);
    h1,h2 {
        color: var(--white);
    }
    
}
.box5 {
     background-color: var(--white);    
}

p  {
   color: var(--light-grey); 
}

header {
    display: grid;    
}




@media screen (max-width ) {
    
}







